@model VSBooking_JAZS_MVC.ViewModels.SearchResult

@{
    ViewBag.Title = "RoomDetails";
}

<h2>@Html.DisplayFor(model => model.HotelName) - @Html.DisplayFor(model => model.Location)</h2>

@using (Html.BeginForm("ResSummary", "Home", FormMethod.Post))
{
    @Html.AntiForgeryToken()
    
<div>
    <h4>Room #@Html.DisplayFor(model => model.Number) - @Html.DisplayFor(model => model.Type)</h4>
    <h4>Price : @Html.DisplayFor(model => model.Price) CHF</h4>

    @Html.ActionLink("Book this room", "SingleResSummary", new { id = Model.IdRoom })

    <hr />

    @foreach (var item in Model.Pictures)
    {
        <div class="col-sm-4">
            <img class="room-img" src=" @Url.Content(item.Url)" alt="Image" />
        </div>
    }

    <div>
        <h4>@Html.DisplayNameFor(model => model.Description)</h4>
        <p>@Html.DisplayFor(model => model.Description)</p>

        <div class="block-div">
            @Html.DisplayNameFor(model => model.HasTV)
        </div>

        <div class="block-div">
            @Html.DisplayFor(model => model.HasTV)
        </div>

        <div class="block-div">
            @Html.DisplayNameFor(model => model.HasHairDryer)
        </div>

        <div class="block-div">
            @Html.DisplayFor(model => model.HasHairDryer)
        </div>

        <div class="block-div">
            @Html.DisplayNameFor(model => model.HasWiFi)
        </div>

        <div class="block-div">
            @Html.DisplayFor(model => model.HasWiFi)
        </div>

        <div class="block-div">
            @Html.DisplayNameFor(model => model.HasParking)
        </div>

        <div class="block-div">
            @Html.DisplayFor(model => model.HasParking)
        </div>
    </div>

</div>
}
<p>
    @Html.ActionLink("Back to results", "SearchResult")
</p>