@model VSBooking_JAZS_MVC.ViewModels.SearchResult

@{
    ViewBag.Title = "RoomDetails";
}

<h2>@Html.DisplayFor(model => model.HotelName) - @Html.DisplayFor(model => model.Location)</h2>

<h4>@Html.DisplayFor(model => model.Phone)</h4>
<a href="@Html.DisplayFor(model => model.Email)">@Html.DisplayFor(model => model.Email)</a>
<a href="@Html.DisplayFor(model => model.Website)">@Html.DisplayFor(model => model.Website)</a>
<hr />

@using (Html.BeginForm("ResSummary", "Home", FormMethod.Post))
{
    @Html.AntiForgeryToken()
    
<div>

    @foreach (var item in Model.Pictures)
    {
        <div class="col-sm-4">
            <img class="room-img" src=" @Url.Content(item.Url)" alt="Image" />
        </div>
    }

    <div>
        <p><b>Room #@Html.DisplayFor(model => model.Number) - @Html.DisplayFor(model => model.Type)</b></p>
        <p>@Html.DisplayFor(model => model.Description)</p>        

        <div class="block-div">
            @Html.DisplayNameFor(model => model.HasTV)
        </div>

        <div class="block-div">
            @Html.DisplayFor(model => model.HasTV)
        </div>

        <div class="block-div">
            @Html.DisplayNameFor(model => model.HasHairDryer)
        </div>

        <div class="block-div">
            @Html.DisplayFor(model => model.HasHairDryer)
        </div>

        <div class="block-div">
            @Html.DisplayNameFor(model => model.HasWiFi)
        </div>

        <div class="block-div">
            @Html.DisplayFor(model => model.HasWiFi)
        </div>

        <div class="block-div">
            @Html.DisplayNameFor(model => model.HasParking)
        </div>

        <div class="block-div">
            @Html.DisplayFor(model => model.HasParking)
        </div>
        <p><b>Price : @Html.DisplayFor(model => model.Price) CHF</b></p>
    </div>

</div>
}
<p>
    @Html.ActionLink("Back to results", "SearchResult") | @Html.ActionLink("Book this room", "SingleResSummary", new { id = Model.IdRoom })
</p>