@model VSBooking_JAZS_MVC.ViewModels.SearchResultsVM

@{
    ViewBag.Title = "SearchResult";
}

<h2><i class="fa fa-bed"></i> Available rooms</h2>
<p>for the period between @Html.DisplayFor(model => model.StartDate) and @Html.DisplayFor(model => model.EndDate)</p>

@using (Html.BeginForm("MultipleResSummary", "Home", FormMethod.Post))
{
    @Html.AntiForgeryToken()

    <table class="table">
        <tr>
            <th></th>
            <th>
                @Html.DisplayNameFor(model => model.SearchResult.ElementAt(0).HotelName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.SearchResult.ElementAt(0).Location)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.SearchResult.ElementAt(0).Number)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.SearchResult.ElementAt(0).Type)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.SearchResult.ElementAt(0).HasTV)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.SearchResult.ElementAt(0).HasHairDryer)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.SearchResult.ElementAt(0).HasWiFi)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.SearchResult.ElementAt(0).HasParking)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.SearchResult.ElementAt(0).Price)
            </th>
            <th></th>
        </tr>

        @for (int i = 0; i < Model.SearchResult.Count(); i++)
        {
            <tr>
                <td>
                    @Html.HiddenFor(modelItem => Model.SearchResult[i].IdRoom, new { id = "IdRoom" + i })
                    @Html.CheckBoxFor(modelItem => Model.SearchResult[i].Book)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => Model.SearchResult.ElementAt(i).HotelName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => Model.SearchResult.ElementAt(i).Location)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => Model.SearchResult.ElementAt(i).Number)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => Model.SearchResult.ElementAt(i).Type)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => Model.SearchResult.ElementAt(i).HasTV)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => Model.SearchResult.ElementAt(i).HasHairDryer)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => Model.SearchResult.ElementAt(i).HasWiFi)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => Model.SearchResult.ElementAt(i).HasParking)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => Model.SearchResult.ElementAt(i).Price) CHF
                </td>
                <td>
                    @Html.ActionLink("Details", "RoomDetails", new { id= Model.SearchResult.ElementAt(i).IdRoom, search = Model.SearchResult[i].Search })
                </td>
            </tr>
        }
    </table>

    <div class="form-group">
        <div class="col-md-10">
            <input type="submit" value="Book" class="btn btn-default" />
        </div>
    </div>
}
