@model IEnumerable<VSBooking_JAZS_MVC.ViewModels.SearchResult>

@{
    ViewBag.Title = "SearchResult";
}

<h2><i class="fa fa-bed"></i> Available rooms</h2>

@using (Html.BeginForm("MultipleResSummary", "Home", FormMethod.Post))
{
    @Html.AntiForgeryToken()

    <table class="table">
        <tr>
            <th></th>
            <th>
                @Html.DisplayName("Hotel")
            </th>
            <th>
                @Html.DisplayName("Location")
            </th>
            <th>
                @Html.DisplayName("Number")
            </th>
            <th>
                @Html.DisplayName("Type")
            </th>
            <th>
                @Html.DisplayName("TV")
            </th>
            <th>
                @Html.DisplayName("Hair dryer")
            </th>
            <th>
                @Html.DisplayName("WiFi")
            </th>
            <th>
                @Html.DisplayName("Parking")
            </th>
            <th>
                @Html.DisplayName("Price")
            </th>
            <th></th>
        </tr>

        @for (int i = 0; i < Model.Count(); i++)
        {
            <tr>
                @Html.HiddenFor(modelItem => Model.ElementAt(i).IdRoom)
                <td>
                    @Html.CheckBoxFor(modelItem => Model.ElementAt(i).Book)
                </td>
                <td>
                    @Html.HiddenFor(modelItem => Model.ElementAt(i).HotelName)
                    @Html.DisplayFor(modelItem => Model.ElementAt(i).HotelName)
                </td>
                <td>
                    @Html.HiddenFor(modelItem => Model.ElementAt(i).Location)
                    @Html.DisplayFor(modelItem => Model.ElementAt(i).Location)
                </td>
                <td>
                    @Html.HiddenFor(modelItem => Model.ElementAt(i).Number)
                    @Html.DisplayFor(modelItem => Model.ElementAt(i).Number)
                </td>
                <td>
                    @Html.HiddenFor(modelItem => Model.ElementAt(i).Type)
                    @Html.DisplayFor(modelItem => Model.ElementAt(i).Type)
                </td>
                <td>
                    @Html.HiddenFor(modelItem => Model.ElementAt(i).HasTV)
                    @Html.DisplayFor(modelItem => Model.ElementAt(i).HasTV)
                </td>
                <td>
                    @Html.HiddenFor(modelItem => Model.ElementAt(i).HasHairDryer)
                    @Html.DisplayFor(modelItem => Model.ElementAt(i).HasHairDryer)
                </td>
                <td>
                    @Html.HiddenFor(modelItem => Model.ElementAt(i).HasWiFi)
                    @Html.DisplayFor(modelItem => Model.ElementAt(i).HasWiFi)
                </td>
                <td>
                    @Html.HiddenFor(modelItem => Model.ElementAt(i).HasParking)
                    @Html.DisplayFor(modelItem => Model.ElementAt(i).HasParking)
                </td>
                <td>
                    @Html.HiddenFor(modelItem => Model.ElementAt(i).Price)
                    @Html.DisplayFor(modelItem => Model.ElementAt(i).Price) CHF
                </td>
                <td>
                    @Html.ActionLink("Details", "RoomDetails", new { id= Model.ElementAt(i).IdRoom })
                </td>
            </tr>
        }

    </table>

    <div class="form-group">
        <div class="col-md-10">
            <input type="submit" value="Book" class="btn btn-default" />
        </div>
    </div>
}
