@model IEnumerable<VSBooking_JAZS_MVC.ViewModels.SearchResult>

@{
    ViewBag.Title = "SearchResult";
}

<h2><i class="fa fa-bed"></i> Available rooms</h2>

@using (Html.BeginForm("ResSummary", "Home", FormMethod.Post))
{
    @Html.AntiForgeryToken()

    <table class="table">
        <tr>
            <th>
                @Html.DisplayName("")
            </th>
            <th>
                @Html.DisplayNameFor(model => model.HotelName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Location)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Number)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Type)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.HasTV)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.HasHairDryer)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.HasWiFi)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.HasParking)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Price)
            </th>
            <th></th>
        </tr>

        @foreach (var item in Model)
        {
            <tr>
                @Html.HiddenFor(modelItem => item.IdRoom)
                <td>
                    @Html.EditorFor(modelItem => item.Book)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.HotelName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Location)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Number)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Type)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.HasTV)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.HasHairDryer)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.HasWiFi)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.HasParking)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Price) CHF
                </td>
                <td>
                    @Html.ActionLink("Details", "RoomDetails", new { id=item.IdRoom })
                </td>
            </tr>
        }

    </table>

    <div class="form-group">
        <div class="col-md-10">
            <input type="submit" value="Book" class="btn btn-default" />
        </div>
    </div>
}
